<div class="stepper-container">

 <form #formRef="ngForm" [formGroup]="stepOneForm"
    (ngSubmit)="stepOneSubmit()"
    autocomplete="off"
    novalidate>
      
        
      <div class="input form-group">
        <label for="debitAcc">Debit Account <span>*</span></label>
        <select class="form-control" id="debitAcc" class="form-control"  formControlName="debitAccount" style="width: 100%;">
          <option selected="selected">Select account</option>
          <option>Alaska</option>
          <option>California</option>
          <option>Delaware</option>
          <option>Tennessee</option>
          <option>Texas</option>
          <option>Washington</option>
        </select>
        <span class="error" *ngIf="stepOneForm.controls['debitAccount'].hasError('required') && formRef.submitted">Debit account a required field
        </span>
      </div>
  
      <div class="input form-group">
        <label for="amount">Amount <span>*</span></label>
        <input type="text" id="amount" class="form-control" placeholder="Enter Last Name" formControlName="debitAmount"/>
        <span class="error" *ngIf="stepOneForm.controls['debitAmount'].hasError('required') && formRef.submitted">Amount is a required field
        </span>
      </div>
  
      <div class="buttons">
        <button class="btn btn-primary" cdkStepperNext>Next</button>
      </div>  
       
  </form>    
  
  </div>