<div class="wrapper">    
    <app-topnav></app-topnav>    
    <app-leftnav></app-leftnav>
    
    <div class="content-wrapper">   
      
      <router-outlet></router-outlet> <!-- This will be changing based on routing  -->  
  
    </div>    
    <app-footer></app-footer>   
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark" style="display: none;">   
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>  